

.wrapper {
	background-image: url('http://pairprogrammingisfun.com/images/header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	height: 700px;
	width: 100%;
}

.closewrapper{
	padding-left: 50%;

}