// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wholepagewrapper{
  text-align: center;
	  background-color: #A142E9;
    padding: 0px 0px 0px 0px;
    display: block;
    width: 100%;
    display: flex;
}

.contentwrapper{
  background-color: #49A59A;
  width: 60%;
  padding-left: 25px;
}
.profilewrapper {
	max-width: 30%;
  background-color: #5ECBFF;
  padding-left: 10px;


}
.contentwrapper{
	margin-left: 20px;
}
.editlogin{
  position: absolute;
  padding-top: 20px;
  text-decoration: none;
  font-size: 2em;
  color: red;
}

#modalinfo{
	display: none;
}

#modalinfoouter{
			  z-index: 1;
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0px;
              top: 0px;
              padding-top: 100px;
              padding-bottom: 100px;
              background-color: rgba(0,0,0,0.6);
              // opacity: .7;
              display: none;
            }
        #modalinfo{
          padding: 30px 20px;
        	background-color: black;
        	color: orange;
          text-align: center;
          width: 40%;
          margin: auto;
          // opacity: 1;
          z-index: 2;
        
          }
            
            .closer{
              float: right;
              font-size: 3em;
              opacity: 1;
              color: orange;
              &:hover{
                color:yellow;
              }
            }
            #basicExample td{
              padding: 10px;
            }
           
          