// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wholepagewrapper{
	padding-left: 3%;
    padding-right: 8%;
    display: block;
    width: 100%;
    display: flex;
}

.profilewrapper {
	max-width: 30%;

}
.contentwrapper{
	margin-left: 20px;
}

#modalinfo{
	display: none;
}

#modalinfoouter{
			  z-index: 1;
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0px;
              top: 100px;
              padding-top: 100px;
              padding-bottom: 100px;
              background-color: grey;
              display: none;
            }
        #modalinfo{
        	background-color: black;
        	color: orange;
              text-align: center;
            }