<%= form_for @appointment, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <% f.label :start %>
  Start date & time: 
  <%= f.datetime_field :start %><br>
  <% f.label :end %>
  End date & time:
  <%= f.datetime_field :end %>
 
  <%= f.submit "Create" %>
<% end %>

<div id="calendar"></div>

<p id="basicExample">
    <input type="text" class="date start" />
    <input type="text" class="time start" /> to
    <input type="text" class="time end" />
    <input type="text" class="date end" />
</p>